.jumbotron {
	/*background-color: pink;*/
	background-image: url(../images/Banner.png);
	background-blend-mode: hard-light;
	background-repeat: no-repeat;
	background-size: cover;
	color: black;
	margin-top: 50px;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: pink;
	margin-bottom: 0px;
}

.btn {
	background-color: pink;
	border-radius: 0;
}

.parrafos_secundarios{
	/*flex: 1 150px;*/
	margin-top: 10px;
}

.tarjetas_precios{
	flex: 1 150px;
	margin-top: 10px;
	padding-right: 10px;
}

.btn-learn{
	width:100%;
}

.footer-icons {
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}

.nav-pills {
	background-color: pink;
}