$pink: #ebbedf;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
	background-image: url(../images/Banner.png);
	background-blend-mode: hard-light;
	background-repeat: no-repeat;
	background-size: cover;
	color: black;
	@include margenes(50px, 0px);
}

footer {
	padding: 10px 10px 0 10px;
	background-color: $pink;
	@include margenes(0px, 0px);
}

.btn {
	background-color: $pink;
	border-radius: 0;
}

.parrafos_secundarios{
	/*flex: 1 150px;*/
	@include margenes(10px, 0px);
}

.tarjetas_precios{
	flex: 1 150px;
	padding-right: 10px;
	@include margenes(10px, 0px);
}

.btn-learn{
	width:100%;
}

.footer-icons {
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}

.nav-pills {
	background-color: $pink;
}