.jumbotron {
  background-image: url(../images/Banner.png);
  background-blend-mode: hard-light;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: #ebbedf;
  margin-top: 0px;
  margin-bottom: 0px;
}

.btn {
  background-color: #ebbedf;
  border-radius: 0;
}

.parrafos_secundarios {
  /*flex: 1 150px;*/
  margin-top: 10px;
  margin-bottom: 0px;
}

.tarjetas_precios {
  flex: 1 150px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.btn-learn {
  width: 100%;
}

.footer-icons {
  padding-right: 10px;
}

.tab-content {
  padding-top: 10px;
}

.nav-pills {
  background-color: #ebbedf;
}

/*# sourceMappingURL=styles.css.map */
